<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/font/font.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <title>Chat</title>
        <style>
            html , body {
                width: 100%;
                height: 100%;
            }
            .controller{
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: flex;
                justify-content: center;

            }
            body{
                font-family: 'Open Sans', sans-serif;
                display: flex;
                flex-flow: column;
                margin: 0;
                padding: 0 50px;
                background-color: #E5E5E5;
                color: #2C2C2C
            }
            header{
                margin:0;
                padding: 20px 0;
                width: 100%;
                height: fit-content;
                background-color: rgb(15, 15, 44);
                color: #fff;

            }
            .control-btn{
                width: 120px;
                padding: 10px 0;
                border: none;
                border-radius: 8px;
                cursor: pointer;
            }
            .enable-btn{
                background-color: rgb(26, 184, 26);
                color: #fff;
                border-bottom: 5px solid rgb(18, 131, 18);
                margin: 10px ;
            }

            .enable-btn:hover{
                border-bottom: none;
                margin-top: 15px;
            }
            .disable-btn{
                margin: 10px ;
                background-color: rgb(172, 25, 25);
                color: #fff;
                border-bottom: 5px solid rgb(184, 57, 57);
            }
            .disable-btn:hover{
                border-bottom: none;
                margin-top: 15px;
            }
            .username-btn{
                width: 200px;
                margin: 10px auto;
                padding: 10px 0;
            }
            input{
                width: 200px;
                padding: 10px;
                margin: 10px auto;
            }

            #username-div{
                display: none;
            }
            #username-label{
                width: 200px;
                height: fit-content;
                margin: 0 auto;
                padding: 10px 20px;
                background-color: rgb(12 11 25);
                border-radius: 8px;
                border: 2px solid rgb(26, 26, 77);
                cursor: pointer;
            }
            ul.users{
                width: 100%;
                margin: 0;
                padding: 0;
            }
            ul.users li{
                width: 90%;
                margin: 10px auto;
                padding: 10px 0;
                text-align: center;
                background-color: rgb(15 15 44);
                list-style: none;
                color: #fff;
                border-radius: 8px;
            }
        </style>
    </head>
    <body>
        {{{ pageContent }}}
    </body>
</html>
